#titulo{
color: red;
text-align: center;
background-color: #232323;

}
.container {
    position: relative; 
    left: 20%;
}


   

#xbox{
    color: greenyellow;
}
#ps5{
    color:blue;
}
#pc{
    color: chocolate;
}
#insta {
    position:fixed;
    bottom: 0px; 
    left: 90%;
}

.insta-logo{
    width: 50px; 
    height: auto;
    
}